{# Show details of an object.
    See, VDetailView. #}
{% extends "vprad/views/embedded_object_base.html" %}

{% block middle_inner %}
    <div class="ui left aligned container">
        <div class="ui medium header"><u>{{ object }}</u></div>
    </div>
    <div class="ui container">
        <div class="ui stackable {% if default_fields %}two column{% else %}equal width{% endif %} grid">
            {% include "vprad/views/detail/render_fields.jinja.html" with context %}
        </div>
    </div>
{% endblock %}
