{% block middle_outer %}
    {% block middle_inner %}
    {% endblock %}
{% endblock %}

{% block bottom_outer %}
    <div class="ui center aligned container">
        {% block bottom_inner %}
            {% if embed.create_url() %}
                <a class="ui mini basic button" href="{{ embed.create_url() }}" title="{{ _('Create') }}">
                    <i class="fitted plus icon"></i>
                </a>
            {% endif %}
            {% if embed.moreinfo_url() %}
                <a class="ui mini basic button" href="{{ embed.moreinfo_url() }}" title="{{ _('More') }}">
                    <i class="fitted list icon"></i>
                </a>
            {% endif %}
            <span>&nbsp;</span>
        {% endblock %}
    </div>
{% endblock %}