{% block middle_outer %}
    <div class="ui attached segment">
        {% block middle_inner %}
        {% endblock %}
    </div>
{% endblock %}

{% block bottom_outer %}
    <div class="ui bottom attached vertically fitted secondary segment">
        {% block bottom_inner %}
            {% if embed.create_url() %}
                <a class="item" href="{{ embed.create_url() }}" title="{{ _('Create') }}">
                    <i class="fitted plus icon"></i>
                </a>
            {% endif %}
            {% if embed.moreinfo_url() %}
                <a class="item" href="{{ embed.moreinfo_url() }}" title="{{ _('More') }}">
                    <i class="fitted list icon"></i>
                </a>
            {% endif %}
            <span>&nbsp;</span>
        {% endblock %}
    </div>
{% endblock %}